.logout-btn {
    width: max-content;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: initial;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    background-image: linear-gradient(99deg, #ff2481, #ff5f2e 101%);
    display: block;
}